In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable using list comprehension -- p
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=3.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=3.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloud = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=3.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=3.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Acarau,BR,2021-09-30 19:59:14,-2.8856,-40.1200,82.15,73,64,17.13
15,15,Hilo,US,2021-09-30 19:57:35,19.7297,-155.0900,76.80,94,90,3.44
18,18,Georgetown,MY,2021-09-30 19:54:22,5.4112,100.3354,82.33,91,40,5.99
19,19,Ames,US,2021-09-30 19:55:57,42.0347,-93.6199,85.08,70,75,3.00
24,24,Sola,VU,2021-09-30 19:59:22,-13.8833,167.5500,79.77,83,100,23.38
25,25,Arraial Do Cabo,BR,2021-09-30 19:57:27,-22.9661,-42.0278,75.16,88,20,5.75
28,28,Victoria,HK,2021-09-30 19:55:04,22.2855,114.1577,86.32,88,24,4.00
30,30,Avera,US,2021-09-30 19:59:24,33.1940,-82.5271,86.92,39,99,1.45
37,37,Puerto Ayora,EC,2021-09-30 19:59:27,-0.7393,-90.3518,80.56,84,59,9.19
46,46,Hamilton,US,2021-09-30 19:57:11,39.1834,-84.5333,81.36,49,100,1.99

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

               City Country  Max Temp      Lat       Lng Hotel Name
4            Acarau      BR     82.15  -2.8856  -40.1200
15             Hilo      US     76.80  19.7297 -155.0900
18       Georgetown      MY     82.33   5.4112  100.3354
19             Ames      US     85.08  42.0347  -93.6199
24             Sola      VU     79.77 -13.8833  167.5500
25  Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
28         Victoria      HK     86.32  22.2855  114.1577
30            Avera      US     86.92  33.1940  -82.5271
37     Puerto Ayora      EC     80.56  -0.7393  -90.3518
46         Hamilton      US     81.36  39.1834  -84.5333